{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<br/>
<div id="msg-alert">
    <br/>
    {% if error_login %}
    <div class="alert alert-danger">
        {{ error_login }}
    </div>
    <br/>
    {%endif%}
</div>



<div class="custom-card">
    <form class="login-card" method="POST" action="{% url 'login_page' %}">
        {% csrf_token %}
        <div class="container">
            <h2 class="font-tille">تسجيل الدخول</h2>
            <p class="noto-sans-arabic-product font-sub-title">
                : اسم المستخدم
            </p>
            <input class="custom-input" type="usename" name="username">
            <br />
            <br />
            <p class="noto-sans-arabic-product font-sub-title">
                : كلمة المرور
            </p>
            <input class="custom-input" type="password" name="password">
            <br />
            <br />
            <input class="button-25" type="submit" value="تسجيل">
        </div>
    </form>
</div>

{% endblock %}