{% extends 'main/base.html' %}
{% block content %}
<br/>
<div id="msg-alert">
    {% if error_user %}
    <div class="alert alert-dark">
       <strong> {{ error_user }}</strong>
    </div>
    <br />
    {% endif %}

    <br/>
    {% if error_password %}
    <div class="alert alert-dark">
        <strong>{{ error_password }}</strong>
    </div>
    <br />
    {% endif %}
</div>

<div class="parent">
    <form class="login-card" method="POST" action="{% url 'singUp_page' %}">
        {% csrf_token %}
        <div class="container">
            <h2 class="font-tille">إنشاء حساب </h2>
            <p class="noto-sans-arabic-product font-sub-title">
                : اسم المستخدم
            </p>
            <input class="custom-input" type="username" name="username" />
            <br />
            <br />
            <p class="noto-sans-arabic-product font-sub-title">
                : كلمة المرور
            </p>
            <input class="custom-input" type="password" name="password1" />
            <br />
            <br />
            <p class="noto-sans-arabic-product font-sub-title">
                : إعادة كلمة المرور
            </p>
            <input class="custom-input" type="password" name="password2" />
            <br />
            <br />
            <div class="container">
                <input class="button-25 button-center" type="submit" Value="إنشاء">
            </div>
        </div>
    </form>
</div>
{% endblock %}