{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<br />
<br />

<div id="msg-alert">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
</div>


<!DOCTYPE html>
<html lang="ar" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Shatha Bahassan">
  <script src="/docs/5.3/assets/js/color-modes.js"></script>
  <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB">
  <meta name="theme-color" content="#712cf9">
</head>

<body>
  <main>
    <div class="container">
      <div class="mb-4">
        <!-- ------------------------------- Create Product ----------------------------------------->
        <a href="{% url 'create_product' user_id %}" class="button-24">
          منتج جديد
        </a>
        
        <!-- -------------------------------End Create Product ----------------------------------->
      </div>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm h-100">
              <div class="img-border-product">
                <img src="{{product.image.url}}" class="bd-placeholder-img card-img-top" height="335" width="150"
                  role="img">
              </div>
              <div class="card-body d-flex flex-column">
                <div class="font-tille-product">
                  <p>{{ product.tilte }}</p>
                </div>
                <p class="card-text font-body-product noto-sans-arabic-product">
                  {{product.body}}
                </p>
                <div class="mt-auto pt-3">
                  <div class="btn-group product-button">
                    <button type="button" class="button-26">عرض</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
  </main>
  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end" style="color: black;"> <a href="#">Back to top</a> </p>
    </div>
  </footer>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>
</body>

</html>



{% endblock %}